*{
    margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;
}
table{
    margin: 15px auto;
    width: 80%;
    background-color: #F5F5F5;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #11151e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
caption{
    border: 2px solid #11151e;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: #11151e;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
tr:last-child td{
    border: none;
}
tr:hover{
    background-color: #DCDCDC;
}
td{
    border-bottom: 2px solid lightgray;
}
th{
    border-bottom: 2px solid lightgray;
}
td,th{
    padding: 1%; text-align: justify;
}
.edit,.delete{
    color: lightslategrey; margin-left: 5px;
}
.edit:hover{
    color: 	#1E90FF	;
}
.delete:hover{
    color: red;
}
a{
    text-decoration: none;
    color: lightslategrey;
}
a:hover{
    color: blue;
}